In [2]:
a = [10,20,30,40]
b = [22,23,24,25]

In [6]:
sonuc = []

for i in range(len(a)):
    toplam = a[i] + b[i]
    sonuc.append(toplam)
print(sonuc)

[32, 43, 54, 65]

In [7]:
for u in range(0, 15,5):
    print(u) #range ile 0'dan 15'e (15 dahil değil) kadar 5'er 5'er artan bir alan yaratıyorum. for ile u yu döndürerek 0,5,10
             #yazdırıyorum

0
5
10

In [8]:
listem = [100]
    #içinde 100 bulunan bir listem var. Açtığım for döngüsünün range'i 0'dan 100'e kadar ,5'er 5'er artıyor.
    #döngü her döndüğünde listenin 1. elemanına yani bize göre 2. indeks'e listenin 0. indeksinde'ki ile o anki u'nun değerini
    #toplayarak koyuyor. İlk döngüde u sıfır ve listenin 0. elemanı 100 olduğu için 100+0 100 yazdırıyor.
    #bu şekil de range bitesiye kadar hep listenin 1. elemanına 100 + u'nun o anki değerini yazdırmaya devam ediyor.
for u in range(0, 100,5):
    listem.insert(1,listem[0]+u)
    print(listem)

[100, 100]
[100, 105, 100]
[100, 110, 105, 100]
[100, 115, 110, 105, 100]
[100, 120, 115, 110, 105, 100]
[100, 125, 120, 115, 110, 105, 100]
[100, 130, 125, 120, 115, 110, 105, 100]
[100, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 170, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 175, 170, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 180, 175, 170, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 185, 180, 175, 170, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 190, 185, 180, 175, 170, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]
[100, 195, 190, 185, 180, 175, 170, 165, 160, 155, 150, 145, 140, 135, 130, 125, 120, 115, 110, 105, 100]

In [10]:
def kendifonksiyonum(listem):
    for m in listem:
        print(m.upper())

kendifonksiyonum("miuul") #Satır satır Büyük harf miuul yazan döngüyü fonksiyona çevirerek dinamik bir hal aldırdık.

M
I
U
U
L

In [13]:
def halil():
    a=3
    b=4
    print(a+b) #a + b toplamını verir yani 7
halil()

7

In [22]:
def for_ogreniyorum(a,b,c):
    x = range(a,b,c)
    for n in x:       #Range'de her eklenen sayıyı kendisiyle çarpan bir for döngüsü b'ye ne verirseniz c'de oraya kadar artar.
        print(n*n)
for_ogreniyorum(1,11,1)

1
4
9
16
25
36
49
64
81
100

In [19]:
a = [10,20]
b = [22,23] # a ve b olarak iki liste oluşturdum.

In [1]:
x = range(0, 10,2)

for n in x:
  print(n) #0'dan başlayarak 2'şer artan 10'a kadar (10 dahil değil) sayıları yazdırır.

0
2
4
6
8

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset("titanic")

In [5]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
df[(df["sex"] == "male") & (df["alive"] == "yes") & (df["fare"] > 30)]["age"].mean()

30.197714285714287

In [16]:
df[(df["sex"] == "male") & (df["alive"] == "yes") & (df["fare"] > 30)]["age"].std()

16.61703432974628